.container{
    margin: auto;
    font-family: sans-serif;
}

.backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.pageImage {
    position: relative;
    top: 40%;
    left: 10%;
    height: 450px;
    width: 300px;
}

.content {
    position: absolute;
    left: 35%;
    text-align: center;
    z-index: 10;
    color: goldenrod;
}

.header {
    position: fixed;
    display: flex;
    left: 10%;
    flex-direction: column;
    align-items: center;
}

.nav-links{
    list-style: none;
    position: absolute;
    top: 0%;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.nav-link-item{
    padding-right: 2rem;
}

.nav-link-text{
    font-size: 20px;
    margin: 15px;
    color: goldenrod;
}

.about-text {
    font-size: 20px;
    position: absolute;
    top: 30%
}

.site-title{
    font-size: 3rem;
    color: goldenrod;
    font-weight: 600;
}

.menu {
    position: absolute;
    top: 10%;
    left: 43%;
    display: inline-block;
}

.menuContent{
    display: none;
    position: absolute;
    font-size: 15px;
    z-index: 1;
    color: goldenrod;
}

.menuContent a {
    display: block;
    line-height: 1;
    padding: 13px 13px;
    color: yellow
}

.menu:hover .menuContent{
    display: block;
}

.about-text{
    font-size: 17px;
    position: absolute;
    top: 50%;
    text-align: center;
    margin: 15px;
    margin-top: 50px;
    padding-top: 50px;
    z-index: 0;
    color: white;
}

